<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OAuth tut</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/">Home page</a>
      </li>
    </ul>
  </nav>
  <header>
    <h1>Hafs OAuth tut's</h1>
    <h2>Homepage</h2>
  </header>
  <main>
    <p>
      best OAuth tut.
    </p>
  </main>
</body>
</html>
